<ion-view view-title="Search">
  <ion-content>
    <div class="list">
      <label class="item">
        <button class="button button-block button-balanced" ng-click="sendRequest()">Enviar petición</button>
      </label>
      <label class="item">
        <button class="button button-block button-balanced" ng-click="obtener()">Enviar petición 2</button>
      </label>
    </div>
  </ion-content>
</ion-view>
