<ion-view class="login">
  <ion-header-bar class="bar-balanced">
    <img src="package/img/fraterLogo.png">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <!-- <ion-content scroll="false"> -->

<ion-content class="outer-container">
  <div class="container">
    <!-- <div class="row responsive-sm">
      <div class="col col-33 col-offset-33 col-center"> -->

        <form  class="main" name="authForm" ng-submit="doLogin(authForm)" novalidate="">
          <div class="list list-inset">
            <label class="item item-input item-floating-label">
              <span class="input-label">Usuario</span>
              <input name="uName" ng-model="loginData.username" placeholder="Usuario" required="" type="text">
            </label>

             <label class="item item-input item-floating-label">
              <span class="input-label">Contraseña</span>
              <input name="uPass" ng-model="loginData.password" placeholder="Contraseña" required="" type="password">
            </label>

          </div>

          <!-- <div class="padding">
        <button class="button button-block button-balanced" type="submit">Iniciar sesión</button>
      </div> -->

          <div class="row">
            <div class="col text-center">
              <button class="button button-balanced" type="submit" ng-disabled="(authForm.uName.$error.required && authForm.uPass.$error.required)" >Iniciar sesión</button>
            </div>
          </div>


      <!-- <div class="item  item-toggle item-text-wrap">
    Recordar usuario y contraseña
    <label class="toggle toggle-balanced">
      <input ng-model="loginData.recordarPassword" type="checkbox">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div> -->

          <ion-toggle class="item-text-wrap frater-font-size item-border-null" ng-model="loginData.recordarPassword" toggle-class="toggle-balanced">Recordar usuario y contraseña</ion-toggle>

          <div class="list card" ng-show="authForm.$submitted && (authForm.uName.$error.required || authForm.uPass.$error.required)">
            <a class="item item-icon-left frater-font-size" href="#" ng-show="authForm.uName.$error.required">
              <i class="icon ion-alert-circled energized"></i>
              Informa el nombre de usuario
            </a>
            <a class="item item-icon-left frater-font-size" href="#" ng-show="authForm.uPass.$error.required">
              <i class="icon ion-alert-circled energized"></i>
              Informa la contraseña
            </a>
          </div>
          <!-- <div ng-show="authForm.$submitted">
        <label class="item item-icon-left frater-font-size " href="#" ng-show="authForm.uName.$error.required">
          <i class="icon ion-alert-circled energized"></i>
          Informa el nombre de usuario
        </label>
      </div>

      <div ng-show="authForm.$submitted">
        <label class="item item-icon-left frater-font-size " href="#" ng-show="authForm.uPass.$error.required">
          <i class="icon ion-alert-circled energized"></i>
          Informa la contraseña
        </label>
      </div> -->
        </div>

      </form>

      <!-- Entre comillas el nombre de la template -->
      <div ng-include="templateLogin"></div>
      <!-- <ng:include src="templateLogin"></ng:include> -->

      <!-- <div ng-include="'loginContent.html'"></div>  -->


      <!-- <div class="sb" show-when="(min-width:568px)">
        <div class="row">
          <div class="col text-center">
            <img src="img/portalPaciente.png">
          </div>
        </div>

      </div> -->

    <!-- </div>
  </div> -->
</div>
</ion-content>

</ion-view>
