
    <div class="sb" show-when="(min-width:568px)">
      <div class="row">
        <div class="col text-center">
          <img src="package/img/portalPaciente.png">
        </div>
      </div>

    </div>
