/* Empty. Add your own CSS if you like */


/*.popup-buttons .button
{
  background-color:#4cd964;
}

.popup-buttons .button.activated {
    background-color: #4cd964;
}*/

.login .item-border-null {
  border: 0;
}
@media (max-width: 567px) {
  .login .container {
    max-width: 40em;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .login .container {
    max-width: 40em;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .login .outer-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .login .container {
    max-width: 100em;
    margin: 0 auto;
    align-self: auto;
    min-width: 768px;
  }
  .login .main {
    padding: 0 1em;
    width: 50%;
    float: left;
  }
  .login .sb {
    padding: 0 1em;
    margin-left: 50%;
    width: 50%;
  }
  .login .sb img {
    width: 100%;
    height: auto;
  }
}

/*---------------*/

.frater-font-size {
  font-size: 1em;
}
.center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
